body {
    font-family: "Courier New";
}

#sec1 {
    background-color: lightgray;
    font-variant: unset;
    text-align: justify;
}

a {
    background-color: red;
    font-size: 150%;
}

h1 {
    text-align: center;
}

ol {
    border-width: 2px;
    border-style: dashed;
    border-color: blue;
    font-style: italic;
}