body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightyellow;
    column-count: 2;
    column-rule-style: solid;
    margin: 60px;
    text-align: justify;
}

h1, h2 {
    text-transform: uppercase;
}

#sec1 p::first-letter {
    color: red;
    font-size: 500%;
    line-height: 52px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
}

p {
    margin-bottom: 30px;
}

ol li:nth-child(odd) {
    background-color: grey;
}

ol li:nth-child(even) {
    background-color: lightgray;
}

section {
    padding: 20px;
    break-inside: avoid;
}