body {
    width: 100vw;
    margin: 0%;
    color: black;
}

#buttonsContainer {
    background-color: lightgray;
}

button {
    height: 9vh;
}

#rightContainer {
    background-color: white;
    text-align: center;
    font-size: 15vmin;
    font-weight: bolder;
}

#timeStamp {
    font-size: 200%;
}

p {
    margin: 0px;
}