swagger: "2.0"
info:
  title: "API piattaforma videogames"
  version: "1.0.0"
  description: "Piattaforma per VideoGames"

host: "testsite.com"
basePath: "/v1"

paths:
  /games/:
    get:
      description: "Ottieni l'elenco di tutti i giochi di una data categoria"
      parameters:
        - name: category
          in: query
          required: true
          type: string
      responses:
        "200":
          description: "successful operation"
          schema:
            type: array
            items:
              $ref: "#/definitions/Gioco"
        "400":
          description: "error"
    post:
      description: "Aggiungo un insieme di giochi"
      parameters:
        - name: listaGiochiNuovi
          in: body
          required: true
          schema:
            type: array
            items:
              $ref: "#/definitions/Gioco"
      responses:
        "200":
          description: "successful operation"
        "400":
          description: "error"

  /games/{gameID}:
    post:
      description: "Modifica numero minimo e massimo di giocatori"
      parameters:
        - name: gameID
          in: path
          required: true
          type: integer
          format: int64
        - name: newMinPlayer
          in: query
          required: false
          type: integer
          format: int64
        - name: newMaxPlayer
          in: query
          required: false
          type: integer
      responses:
        "200":
          description: "successful operation"
        "400":
          description: "error"

definitions:
  Gioco:
    type: object
    properties:
      id:
        type: integer
        format: int64
      nome:
        type: string
      categoria:
        type: string
        enum:
          - Shooter
          - Adventure
          - Puzzle
          - Sport
      numMinGiocatori:
        type: integer
        format: int64
      numMaxGiocatori:
        type: integer
        format: int64